.contakt {

    @extend %flexaling;
    margin-left: auto;

&__item {
    margin-left: 50px;
}

&__link {
    padding: 32px 0;
}
 
&__authinfo {
    @extend %flexaling;
    justify-content: space-between;
    
    color:$colortext;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition:$transition-color;
}
&__authinfo:hover,
&__authinfo:focus {
    color:$coloraccent ;

}


&__header-icon {
    margin-right: 10px;
    fill: currentColor;
}

}