.specialty {
    padding-top: $commonpadding;

    margin-left: auto;
    margin-right: auto;



&__feature {
    display: flex;
    gap: 30px;
}


 &__feature> &__item {

    flex-basis: calc(100% / 4);

}

  &__feature-icon {
    @extend %flexjustyaling;
    height: 128px;
      
    background-color: $colorbg;
    margin-bottom: 32px;
}
  &__feature-title {
    margin-bottom: 10px;

    color:$colortitle ;
    @include font(700, 14px, 1.14, 0.03em);
  

    text-transform: uppercase;
    

}
    &__feature-text {
    @include font ( null, 14px, 1.71, 0.03em);
        
    color:$colortext;
}

}
