.logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   
    text-decoration: none;


&__logo-footer {
        color: $colortitleprimary;
    }


   &__logo-web {
    color:$coloraccent ;
}

   &__logo-studio {
    color: $colortitlesecondary;
}
}





